@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}

html, body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    height: 50px;
}

.navbar {
    padding: .8rem;
}

.navbar-nav li {
    padding-right: 20px;
}